body {
  background: url(p-01.jpg) no-repeat fixed;
}

.para {
  color: red;

  border-width: 50px;
}
/* Heading Section */
#heading {
  color: green;
}

.divv {
  border: 2px solid red;
  width: 200px;
  height: 200px;
  padding: 50px 60px 70px 20px;
}
