body {
  font-family: "Roboto", sans-serif;
}

.para {
  border-width: 50px;
}
/* Heading Section */
#heading {
  color: green;
}

.divv {
  color: red;
  background-color: aqua;
  width: 300px;
  text-transform: lowercase;

  font-size: 50px;
}
